<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${question}">
    Question<br>
    <input type="text"  th:field="*{questionText}"/><br>
    <span th:errors="*{questionText}"></span>
    String to be blanked out:<br>
    <input type="text" th:field="*{numLines}"/><br>
    <span th:errors="*{numLines}"></span>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>