<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="${URL}" th:object="${question}">
    <input type="hidden" th:field="*{id}">
    Question<br>
    <input type="text"  th:field="*{questionText}"/><br>
    <span th:errors="*{questionText}"></span>
    String to be blanked out:<br>
    <input type="text" th:field="*{correctAnswer}"/><br>
    <span th:errors="*{correctAnswer}"></span>

    Select a test to add this question to:
    <select name="testId">
        <option th:each="test : ${tests}"
                th:text="${test.name}"
                th:value="${test.id}"></option>
    </select><br>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>