<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="${URL}" th:object="${question}">
    Question<br>
    <input type="text"  th:field="*{questionText}"/><br>
    <span th:errors="*{questionText}"></span>
    Correct Answer:<br>
    <input type="text" th:field="*{correctAnswer}" /><br>
    <span th:errors="*{correctAnswer}"></span>

    Answer 1:<br>
    <input type="text" th:field="*{choices[0]}"/><br>
    <span th:errors="*{choices[0]}"></span>
    Answer 2:<br>
    <input type="text" th:field="*{choices[1]}"/><br>
    <span th:errors="*{choices[1]}"></span>
    Answer 3:<br>
    <input type="text" th:field="*{choices[2]}"/><br>
    <span th:errors="*{choices[2]}"></span>
    Answer 4:<br>
    <input type="text" th:field="*{choices[3]}"/><br>
    <span th:errors="*{choices[3]}"></span>

    Select a test to add this question to:
    <select name="testId">
        <option th:each="test : ${tests}"
                th:text="${test.name}"
                th:value="${test.id}"></option>
    </select><br>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>